/* CONVENTIONALS ------------------------------------------*/
html {
    box-sizing: border-box;
  }
  
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

/* HEADER -------------------------------------------------*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    padding: 10px;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.header nav ul li {
    list-style-type: none;
}

.header nav ul li a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* BANNER -------------------------------------------------*/
.banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    min-height: 350px;

}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px;
    color: #F9FAF8;
}

.banner.left h1 {
    font-size: 48px;
    font-weight: 900;
}

.banner .left p {
    margin: 10px 0px 10px 0px;
}

.banner button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    min-width: 100px;
    padding: 5px;
    border: none;
}

.image01 {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

/* BODY01 -------------------------------------------------*/
.body01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.body01 h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.card-box {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 15px;
}

.card {
    width: 200px;
    margin: 20px;
}

.image {
    height: 100px;
    width: auto;
    margin: 0px 0px 10px 0px;
}

.image.three {
    height: 100px;
    width: auto;
}